<div class="start">
	<h1>Welcome to Utrition!</h1>
	<p>Nutrition impacts every system of the body.  From a holistic health and cancer survivorship perspective, standardized nutrition data collection enables the evaluation of the overall dietary status, but can yield far greater insights when functional nutritionists, clinical informaticians, and geneticists go beyond food into micronutrients.</p>  	
	<p>Utrition (a mobile-friendly webapp which takes a user through the 24-hour Food recall) links micronutrients to their DNA methylation patterns, providing both patients and clinicians with personalized “Eat This, Not That” recommendations.</p>
	<p>Enter your email, then click the submit button to begin!
		If you do not have an account, the system will redirect you to a registration page.
	</p>
	<form method="post" action="/start">
		<input type = "email" name = "email" id="email" placeholder="Email" required>
		<input type= "submit" name="Submit" class="btn btn-primary" value="submit" formmethod="post"/>
	</form>  
</div>