
<h1>DNA Download</h1>
<p>Our records indicate that there is no DNA information on file.</p>
<p>Please submit a DNA file to continue to the food recall</p>
<p>Note: It may take up to 30 seconds for your information to be uploaded.</p>
<br><br> 

<form method="post" action="/upload" enctype="multipart/form-data">
    <input type="file" name="data" id="inputFile" required/>
    <input type="submit" name="Submit" class="btn btn-primary" value="submit" formmethod="post"/>
</form>

<!-- Dummy tag needed for downloading the data -->
<a id="downloadTag" style="display:none"></a>
